{% extends "layout.html" %}
{% load static %}

{% block content %}



<!-- payment_page.html -->
<h1>Note </h1>
<h2>Payment Gatway is runing in test mode ,So feel free to pay. Your money will not deducted use any random number to pay  </h2>
<form id="paymentForm" method="POST" action="{% url 'payment_success' %}">
    {% csrf_token %}
    <input type="hidden" name="razorpay_order_id" id="razorpay_order_id" value="{{ razorpay_order_id }}">
    <input type="hidden" name="razorpay_payment_id" id="razorpay_payment_id">
    <input type="hidden" name="razorpay_signature" id="razorpay_signature">
</form>

<button class="flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4  focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 bg-blue-700"" id="payButton">Pay with Razorpay</button>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    document.getElementById('payButton').addEventListener('click', function() {
        const options = {
            key: "{{ razorpay_key }}",
            amount: "{{ amount }}",
            currency: "INR",
            order_id: "{{ razorpay_order_id }}",
            name: "Satyam Mishra",
            description: "Purchase Description",
            image: "https://your-logo-url",
            handler: function(response) {
                document.getElementById('razorpay_payment_id').value = response.razorpay_payment_id;
                document.getElementById('razorpay_signature').value = response.razorpay_signature;
                document.getElementById('paymentForm').submit();
            },
            prefill: {
                name: "{{ request.user.username }}",
                email: "{{ request.user.email }}"
            },
            theme: {
                color: "#F37254"
            }
        };
        const rzp = new Razorpay(options);
        rzp.open();
    });
</script>






{% endblock %}  



