<!-- templates/registration/verify_otp.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Email Verification</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-12">
        <div class="relative bg-white px-6 pt-10 pb-9 shadow-xl mx-auto w-full max-w-lg rounded-2xl">
            <div class="mx-auto flex w-full max-w-md flex-col space-y-16">
                <div class="flex flex-col items-center justify-center text-center space-y-2">
                    <div class="font-semibold text-3xl">
                        <p>Email Verification</p>
                    </div>
                    <div class="flex flex-row text-sm font-medium text-gray-400">
                        <p>We have sent a code to your email:- <span class="text-black underline">{{user_email}}</span> If you didn't find otp check spam</p>
                    </div>
                </div>
                <div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="flex flex-col space-y-16">
                            <div class="flex flex-row items-center justify-center mx-auto w-full max-w-xs">
                                <div class="w-full">
                                    <input class="w-full flex flex-col items-center justify-center text-center px-5 outline-none rounded-xl border border-black text-lg bg-white focus:bg-gray-50 focus:ring-1 ring-blue-700" type="text" name="otp_code" maxlength="6" required>
                                </div>
                            </div>
                            <div class="flex flex-col space-y-5">
                                <div>
                                    <button class="flex flex-row items-center justify-center text-center w-full border rounded-xl outline-none py-5 bg-blue-700 border-none text-white text-sm shadow-sm" type="submit">
                                        Verify Account
                                    </button>
                                </div>
                                <div class="flex flex-row items-center justify-center text-center text-sm font-medium space-x-1 text-gray-500">
                                    <p>Didn't receive code?</p> <a class="flex flex-row items-center text-blue-600" href="{% url 'resend_otp' %}">Resend</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
